100 ICON "pngsco.ico"


1 VERSIONINFO
FILEVERSION 0,0,42,0
PRODUCTVERSION 0,0,42,0
FILEOS 0xA
FILETYPE 0xB
{
BLOCK "StringFileInfo"
{
	BLOCK "0800FDE9"
	{
		VALUE "CompanyName", "created by Swyter"
	}
}
BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0800, 0xFDE9
}
}